
/*  -------------------------------------------- GRID ------------------------------------*/

.two-colums{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
/*  -------------------------- ALIGNMENT CLASSES ------------------------------------*/

.center-text{
  text-align: center;
}
.block-it{
  display: block;
}

.flex-it {
  display: flex;
}

.right-it {
  justify-content: flex-end;
}

.left-it {
  justify-content: flex-start;
}
.center-block{
  margin: auto;
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-it{
  flex-wrap: wrap;
}

.more-space-bottom{
  margin-bottom: 5rem;
}

.lil-more-space-bottom{
  margin-bottom: 3rem;
}

.my-work-heading{
  text-align: center;
  padding-right: 0rem;
  margin-left: 2.75rem;
  font-size: 1.35rem;
  color: #212121bd;
}




/*  -------------------------------------------- Menu Bar ------------------------------------*/

nav{
  position: fixed;
  top: 0px;
  z-index: 1;
}


#logo{
  padding-left: 1rem;
}

.container-menu{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;

  height: 3.2rem;
  padding-bottom:1rem;
  padding-top: 1rem;
  align-items: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
}

.menu-items{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: flex-end
  align-self:flex-end;
  padding-left:37.15rem;
  height: fit-content;
}

/*  -------------------------------------------- Intro ------------------------------------*/

#intro{
  margin-top: 5rem;
  padding: 0rem 5rem 19rem 5rem;
}
#intro p {
  position: relative;
  text-align: center;
  left: 33.75rem;
  top:10rem;
  width: 50%;
}

#about-me div{
  padding: 0.5rem 3rem 0rem 6.5rem;
}

#bio{
  padding: 10rem 10rem 10rem 10rem
}

/*  ------------------------------------------ My Work ----------------------------------*/

#my-work{
  padding: 5rem 0rem 5rem 0rem;
}



/*  ------------------------------------------ Clue S.O.S ----------------------------------*/
/*  --------------------- intro -----------------*/


#clue-intro h1, p{
  margin-left: 12rem;
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

#clue-intro .block-it,#nota-intro .block-it{
  padding: 9rem 5.5rem 0rem 0rem;
}


/*  --------------------- Process -----------------*/

#clue-personas img{
  width: 43%;
  margin-bottom: 4rem;
}

#process h2,p{
  margin-left: 12rem;
}

#process h3{
  margin-left: 12rem;
}

img[src*="clue-persona-3"] {
  display: block;
  margin: auto;
  width: 55%;
}

.regular-para{
  margin: auto;
  padding: 0rem 12rem 4rem 12rem;
}

.less-padding-bottom{
  padding: 0rem 12rem 2rem 12rem;
}

.no-padding-bottom{
  padding-bottom: 0rem;
}

.less-padding-right{
  padding-right: 18rem;
}

img[src*="your-cycle-1"], img[src*="analysis"]{
  margin-right: 1rem;
}

#bio{
  display: flex;
}

#my-work .coming-soon{
  width: 16.5rem;
}

#clue-personas{
  display: inline-block;
  text-align: center;
}

@media (min-width: 15em) {
  /*  ------------------ Menu Bar ------------------*/

  .menu-items {
    width: 100%;
    padding-left: 0.15rem;
  }

  .container-menu{
    height: fit-content;
  }

  #logo{
    padding-left: 0rem;
  }

  /*  ------------------ Intro ------------------*/
  #intro{
    margin-top: 15rem;
  }

  #intro p {
    position: relative;
    text-align: center;
    left:-13%;
    top:10rem;
    width: 100%;
    white-space: nowrap
  }


  #intro #intro-sub-cap{
    left: 13%;
  }

  /*  ------------------ Clue SOS ------------------*/
  #clue-intro{
    margin-top: 10rem;
  }
  .regular-para{
    padding:0rem 0.55rem 4rem 0.55rem;
  }
  #clue-intro h1 {
    margin-left: 0.55rem;
  }
  .line-heading{
    margin-left: 0.55rem;
    padding-right: 0.55rem;

  }

  #process h2, #process h3 #process p{
    margin-left: 1rem;
  }
  #clue-intro .block-it{
    padding-top: 17rem;
  }

  .line-centre-focus{
    width: 100vw;
    text-align: center;
    margin: 2rem 0rem 7rem 0rem;
  }

  #clue-personas img {
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    width: 95%;
  }

  img[src*="clue-persona-3"]{
    width: 95%;
  }

  #process h2, #process h3{
    margin-left: 0.55rem;
  }



}

@media (min-width: 23.5em) {
  /*  ------------------ Menu Bar ------------------*/

  .menu-items {
    width: 100%;
    padding-left: 0.15rem;
  }

  .container-menu{
    height: fit-content;
  }

  #logo{
    padding-left: 0rem;
  }

  /*  ------------------ Intro ------------------*/
  #intro{
    margin-top: 15.5rem;
  }
  #intro p {
    left:-3%;
  }
  #intro #intro-sub-cap{
    left: 21%;
  }

  /*  ------------------ Bio ------------------*/

  #bio{
    padding: 0rem 3rem 10rem 3rem;
    display: block;
  }

  #bio img{
    display: block;
    margin: auto;
    padding: 3rem 0rem 3rem 0rem;
    width: 45%;
  }

  /*  ------------------ Clue ------------------*/

  #clue-intro{
    margin-top: 10.5rem;
  }
  .regular-para{
    padding:0rem 2rem 4rem 2rem;
  }

  #clue-intro h1 {
    margin-left: 2rem;
  }
  .line-heading{
    margin-left: 2rem;
    padding-right: 5rem;
  }

  #process h2, #process h3{
    margin-left: 2rem;
  }
  #clue-intro .block-it{
    padding-top: 17rem;
  }

  .line-centre-focus{
    width: 100vw;
    text-align: center;
    margin: 2rem 0rem 7rem 0rem;
  }

  #clue-personas img {
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    width: 80%;
  }

  img[src*="clue-persona-3"]{
    width: 80%;
  }

  #clue-intro .block-it,#nota-intro .block-it{
    padding: 19rem 1.99rem 0rem 1.99rem;
  }
}


@media (min-width:45em) {
  .menu-items {
    padding-left: 18%;
    width: fit-content;

  }
  .container-menu{
    height: 3.2rem;
  }

  /*  ------------------ Intro ------------------*/
  #intro{
    margin-top: 5.25rem;
    padding: 1rem 5rem 20rem 5rem;

  }

  #intro p {
    left: 30%;
  }

  #intro #intro-sub-cap{
    left: 68%;
  }

  /*  ------------------ Bio ------------------*/

  #bio{
    display: flex;
    padding: 7rem 1rem 10rem 1rem;
  }
  /*  ------------------ Clue ------------------*/

  #clue-intro{
    margin-top: 0rem;
  }
  .regular-para{
    padding:0rem 4rem 4rem 4rem;
  }

  #clue-intro h1 {
    margin-left: 4rem;
  }
  .line-heading{
    margin-left: 4rem;
    padding-right: 5rem;
  }

  #process h2, #process h3{
    margin-left: 4rem;
  }
  #clue-intro .block-it{
    padding-top: 12rem;
  }

  .line-centre-focus{
    width: 100vw;
    text-align: center;
    margin: 2rem 0rem 7rem 0rem;
  }

  #clue-personas img {
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    width: 80%;
  }

  img[src*="clue-persona-3"]{
    width: 80%;
  }

}



@media (min-width:50.25em) {
  .menu-items {
    padding-left: 25%;
    width: fit-content;

  }
  .container-menu{
    height: 3.2rem;
  }
  /*  ------------------ Intro ------------------*/

  #intro{
    padding: 1rem 5rem 20rem 5rem;
  }

  #intro p {
    width: fit-content;
    left: 62%;
  }

  #intro #intro-sub-cap{
    left: 68%;
  }

  /*  ------------------ Bio ------------------*/

  #bio{
    padding: 7rem 3rem 10rem 3rem;
    display: flex;
  }

  /*  ------------------ Clue SOS ------------------*/
  #clue-intro{
    margin-top: 0rem;
  }
  .regular-para{
    padding:0rem 6rem 4rem 6rem;
  }

  #clue-intro h1 {
    margin-left: 6rem;
  }
  .line-heading{
    margin-left: 6rem;
    padding-right: 16rem;

  }

  .line-centre-focus{
    width: 100vw;
    text-align: center;
    margin: 2rem 0rem 7rem 0rem;
    padding-right: 0rem;
  }

  #process h2, #process h3{
    margin-left: 6rem;
  }

  #clue-personas img {
    display: inline;
    width: 46%;
  }

  img[src*="clue-persona-3"]{
    width: 55%;
  }
}

@media (min-width:57.25em) {
  .menu-items {
    padding-left: 31%;
    width: fit-content;

  }
  .container-menu{
    height: 3.2rem;
  }

  /*  ------------------ Bio ------------------*/

  #bio{
    padding: 7rem 4rem 10rem 4rem;
    display: flex;
  }

  /*  ------------------ Clue SOS ------------------*/
  #clue-intro{
    margin-top: 0rem;
  }
  .regular-para{
    padding:0rem 8rem 4rem 8rem;
  }
  #clue-intro h1 {
    margin-left: 8rem;
  }
  .line-heading{
    margin-left: 8rem;
    padding-right: 25rem;

  }
  #process h2, #process h3{
    margin-left: 8rem;
  }

  .line-centre-focus{
    width: 100vw;
    text-align: center;
    margin: 2rem 0rem 5rem 0rem;
    padding-right: 0rem;

  }
  #clue-personas img {
    display: inline;
    width: 43%;

  }
  img[src*="clue-persona-3"]{
    width: 55%;
  }






}

@media (min-width:79em) {
  .menu-items {
    padding-left: 38.5%;
    width: fit-content;

  }
  .container-menu{
    height: 3.2rem;
  }

  /*  ------------------ Intro ------------------*/

  #intro{
    padding: 0rem 5rem 20rem 5rem;
  }

  #intro p {
    width: fit-content;
    left: 40.75rem;
  }

  #intro #intro-sub-cap {
    left: 45rem;
  }

  /*  ------------------ Bio ------------------*/

  #bio{
    display: flex;
    padding:10rem 10rem 10rem 10rem;

  }


  /*  ------------------ Clue SOS ------------------*/
  #clue-intro{
    margin-top: 0rem;
  }
  .regular-para{
    padding:0rem 12rem 4rem 12rem;
  }
  #clue-intro h1 {
    margin-left: 12rem;
  }
  .line-heading{
    margin-left: 12rem;
    padding-right: 25rem;

  }

  #process h2, #process h3{
    margin-left: 12rem;
  }
  .line-centre-focus{
    width: 100vw;
    text-align: center;
    margin: 2rem 0rem 7rem 0rem;
    padding-right: 0rem;

  }
  #clue-personas img {
    display: inline;
    width: 43%;

  }
  img[src*="clue-persona-3"]{
    width: 55%;
  }

  #bio img{
    width: 37%;
    padding-right: 5rem;
    padding-top: 1rem;
  }




}
@media (min-width:85.37em) {
  .menu-items {
    padding-left: 45%;
    width: fit-content;
  }

  .container-menu{
    height: 3.2rem;
  }

  /*  ------------------ Bio ------------------*/

  #bio{
    display: flex;
    padding:10rem 10rem 10rem 10rem;
  }

  /*  ------------------ Clue SOS ------------------*/
  #clue-intro{
    margin-top: 0rem;
  }
  .regular-para{
    padding:0rem 12rem 4rem 12rem;
  }
  #clue-intro h1 {
    margin-left: 12rem;
  }
  .line-heading{
    margin-left: 12rem;

  }

  #process h2, #process h3{
    margin-left: 12rem;
  }
  .line-centre-focus{
    width: 100vw;
    text-align: center;
    margin: 2rem 0rem 5rem 0rem;
    padding-right: 0rem;

  }

  #clue-personas img {
    display: inline;
    width: 43%;

  }
  img[src*="clue-persona-3"]{
    width: 55%;
  }
}
