/*  -------------------------------------------- GRID ------------------------------------*/

.two-colums{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
/*  -------------------------- ALIGNMENT CLASSES ------------------------------------*/

.center-text{
  text-align: center;
}

.right-text{
  text-align: right;
}


{
  display: block;
}

.flex-it {
  display: flex;
}

.right-it {
  justify-content: flex-end;
}

.left-it {
  justify-content: flex-start;
}
.center-block{
  margin: auto;
}

.flex-column-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-it{
  flex-wrap: wrap;
}

.more-space-bottom{
  margin-bottom: 5rem;
}

.alot-more-space-bottom{
    margin-bottom: 11rem;
}

.lil-more-space-bottom{
  margin-bottom: 3rem;
}
.less-margin-bottom{
  margin-bottom: 2rem;
}

.no-margin-bottom{
  margin-bottom: 0rem;
}

.less-padding-bottom{
  padding: 0rem 12rem 2rem 12rem;
}

.no-padding-bottom{
  padding-bottom: 0rem;
}

.less-padding-right{
  padding-right: 18rem;
}

.my-work-heading{
  margin-top: 3rem;
  text-align: center;
  padding-right: 0rem;
  font-size: 1.35rem;
  color: #212121bd;
  font-weight: 400;
}

video {
  display: block;
  margin: auto;
}

.side-by-side-3, .side-by-side-2{
  display: flex;
  margin-bottom: 11rem;
}

.side-by-side-3 .two-img img{
  width: 27%;
}


.side-by-side-3 p{
  width: 82%;
}


.side-by-side-2 p{
  width: 27rem;
}
.side-by-side-2 img{
  width: 40%;
  margin-left: 15%;

}

.side-by-side-2 .center-flex{
  justify-content: flex-start;
}



  /*  -------------------------------------------- Menu Bar ------------------------------------*/

  nav{
    position: fixed;
    top: 0px;
    z-index: 1;
  }


  #logo{
    padding-left: 1rem;
  }

  .container-menu{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;

    height: 3.2rem;
    padding-bottom:1rem;
    padding-top: 1rem;
    align-items: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
  }

  .menu-items{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    padding-left:37.15rem;
    height: -webkit-fit-content;
  }

  /*  -------------------------------------------- Intro ------------------------------------*/

  #intro{
    margin-top: 5rem;
  }
  #intro p {


  }

  #about-me div{
    padding: 0.5rem 3rem 0rem 6.5rem;
  }

  #bio{
    padding: 10rem 10rem 10rem 10rem
  }

  /*  ------------------------------------------ My Work ----------------------------------*/

  #my-work{
    padding: 5rem 0rem 5rem 0rem;
  }



  /*  ------------------------------------------ Clue S.O.S ----------------------------------*/
  /*  --------------------- intro -----------------*/


  #clue-intro h1, p{
    margin-left: 12rem;
  }

  .center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #clue-intro .block-it,#nota-intro .block-it{
    padding: 9rem 5.5rem 0rem 0rem;
  }


  /*  --------------------- Process -----------------*/

  .personas img{
    width: 43%;
    margin-bottom: 4rem;
  }

  .process h2,p{
    margin-left: 12rem;
  }

  .process h3{
    margin-left: 12rem;
  }

  img[src*="clue-persona-3"] {
    display: block;
    margin: auto;
    width: 55%;
  }

  .regular-para{
    margin: auto;
    padding: 0rem 12rem 4rem 12rem;
  }

  .regular-para-with-imgs{
    padding: 0rem 12rem 4rem 12rem;
  }

  .two-img img[src*="your-cycle-1"], .two-img img[src*="analysis"], .three-img img[src*="analysis"], .three-img img[src*="your-cycle-1"]{
    margin-right: 1rem;
  }

  #bio{
    display: flex;
  }

  #my-work .coming-soon{
    width: 16.5rem;
  }

  .personas{
    display: inline-block;
    text-align: center;
  }

  video[src*="vid/preview.mp4"] {
    height: 55%;
    margin: 0rem;
  }

  /*  ------------------------------------------NOTA ----------------------------------*/
  /*  --------------------- intro -----------------*/

  .jMaps{
    text-align: center;
  }

  @media (min-width: 15em) {
    /*  ------------------ Menu Bar ------------------*/

    .menu-items {
      width: 100%;
      padding-left: 0.15rem;
    }

    .container-menu{
      height: -webkit-fit-content;
    }

    #logo{
      padding-left: 0rem;
    }

    /*  ------------------ Intro ------------------*/
    #intro {
      background-position: 12% 50%;
      padding-top: 42vh;
      background-position: 52% 6rem;
      background-repeat: no-repeat;
      background-size: 36rem;
    }

    #intro p {
      text-align: center;
    }

    #intro #intro-sub-cap{
      font-size: 1.25rem;
      line-height: 2rem;
    }

    /*  ------------------ Clue SOS ------------------*/
    #clue-intro, #nota-intro{
      margin-top: 10rem;
    }

    #clue-intro .block-it,#nota-intro .block-it{
      padding: 19rem 0.99rem 0rem 0.99rem;
    }
    .regular-para{
      padding:0rem 0.55rem 4rem 0.55rem;
    }
    .side-by-side-2, .side-by-side-3{
      flex-wrap: wrap;
    }
    .side-by-side-3 p, .side-by-side-2 p{
      margin-left: 0.55rem;
    }
    .side-by-side-3 p{
      width: 82%;
    }
    .side-by-side-2 img{
      margin:auto;
    }
    #clue-intro h1 {
      margin-left: 0.55rem;
    }
    .line-heading{
      margin-left: 0.55rem;
      padding-right: 0.55rem;

    }

    .process h2, .process h3 .process p{
      margin-left: 1rem;
    }
    #clue-intro .block-it{
      padding-top: 17rem;
    }

    .line-centre-focus{
      width: 100vw;
      text-align: center;
      margin: 2rem 0rem 7rem 0rem;
      padding-right: 0rem;
    }

    .personas img {
      display: flex;
      margin: auto;
      margin-bottom: 2rem;
      width: 95%;
    }

    img[src*="clue-persona-3"]{
      width: 95%;
    }

    .process h2, .process h3{
      margin-left: 0.55rem;
    }
    /*  ------------------ Bio ------------------*/

    #bio{
      padding: 0rem 3rem 10rem 3rem;
      display: block;
    }
    #bio img{
      display: block;
      margin: auto;
      padding: 3rem 0rem 3rem 0rem;
      width: 45%;
    }


  }

  @media (min-width: 23.5em) {
    /*  ------------------ Menu Bar ------------------*/

    .menu-items {
      width: 100%;
      padding-left: 0.15rem;
    }

    .container-menu{
      height: 14.99rem;
    }

    #logo{
      padding-left: 0rem;
    }

    /*  ------------------ Intro ------------------*/
    #intro {
      background-position: 12% 50%;
      padding-top: 42vh;
      background-position: 42% 6rem;
      background-repeat: no-repeat;
      background-size: 36rem;
    }

    #intro p {
    }
    #intro #intro-sub-cap{
    }


    /*  ------------------ Bio ------------------*/

    #bio{
      padding: 0rem 3rem 10rem 3rem;
      display: block;
    }

    #bio img{
      display: block;
      margin: auto;
      padding: 3rem 0rem 3rem 0rem;
      width: 45%;
    }

    /*  ------------------ Clue ------------------*/

    #clue-intro, #nota-intro{
      margin-top: 11.75rem;
    }
    .regular-para{
      padding:0rem 2rem 4rem 2rem;
    }
    .side-by-side-2, .side-by-side-3{
      flex-wrap: wrap;
    }
    .side-by-side-3 p, .side-by-side-2 p{
      margin-left: 2rem;
    }
    .side-by-side-3 p{
      width: 82%;
    }
    .side-by-side-2 img{
      margin:auto;
    }
    #clue-intro h1 {
      margin-left: 2rem;
    }
    .line-heading{
      margin-left: 2rem;
      padding-right: 5rem;
    }

    .process h2, .process h3{
      margin-left: 2rem;
    }
    #clue-intro .block-it, #nota-intro .block-it{
      padding-top: 17rem;
    }

    .line-centre-focus{
      width: 100vw;
      text-align: center;
      margin: 2rem 0rem 7rem 0rem;
      padding-right: 0rem;

    }

    .personas img {
      display: flex;
      margin: auto;
      margin-bottom: 2rem;
      width: 80%;
    }

    img[src*="clue-persona-3"]{
      width: 80%;
    }

    #clue-intro .block-it,#nota-intro .block-it{
      padding: 19rem 0.99rem 0rem 0.99rem;
    }
  }

  @media (min-width:25.6em) {
    #intro {
      padding-top: 42vh;
      background-position: 42% 6rem;
      background-repeat: no-repeat;
      background-size: 36rem;
    }


    #intro #intro-sub-cap{
      /* font-size: 1.25rem;
      line-height: 2rem; */
    }
    .side-by-side-2 img{
      margin:auto;
    }

  }

  @media (min-width:45em) {
    .menu-items {
      padding-left: 18%;
      width: -webkit-fit-content;

    }
    .container-menu{
      height: 3.2rem;
    }

    /*  ------------------ Intro ------------------*/
    #intro{
      padding-top: 35vh;
      background-position: 42% -3rem;
      background-repeat: no-repeat;
      background-size: 46rem;
    }

    #intro p {
    }

    #intro #intro-sub-cap{
      font-size: 1.75rem;
      line-height: 2.5rem;
    }

    /*  ------------------ Bio ------------------*/

    #bio{
      display: flex;
      padding: 7rem 1rem 10rem 1rem;
    }
    /*  ------------------ Clue ------------------*/

    #clue-intro, #nota-intro{
      margin-top: 0rem;
    }

    .side-by-side-2, .side-by-side-3{
      flex-wrap: wrap;
    }
    .regular-para{
      padding:0rem 4rem 4rem 4rem;
    }

    .side-by-side-3 p, .side-by-side-2 p{
      margin-left: 4rem;
    }
    .side-by-side-2 p{
      width: 39rem;
    }
    .side-by-side-3 h3{
      width: 100%;
    }
    .side-by-side-2 img{
      margin:auto;
    }


    #clue-intro h1 {
      margin-left: 4rem;
    }
    .line-heading{
      margin-left: 4rem;
      padding-right: 5rem;
    }

    .process h2, .process h3{
      margin-left: 4rem;
    }
    #clue-intro .block-it, #nota-intro .block-it{
      padding-top: 12rem;
    }

    .line-centre-focus{
      width: 100vw;
      text-align: center;
      margin: 2rem 0rem 7rem 0rem;
    }

    .personas img {
      display: flex;
      margin: auto;
      margin-bottom: 2rem;
      width: 80%;
    }

    img[src*="clue-persona-3"]{
      width: 80%;
    }

    .squeez{
      margin: -3rem 5rem 2rem 5rem;
    }

  }



  @media (min-width:50.25em) {
    .menu-items {
      padding-left: 25%;
      width: -webkit-fit-content;

    }
    .container-menu{
      height: 3.2rem;
    }
    /*  ------------------ Intro ------------------*/

    #intro {
      padding-top: 35vh;
      background-position: 42% -3rem;
      background-repeat: no-repeat;
      background-size: 46rem;
    }
    #intro p {

    }

    #intro #intro-sub-cap{
      font-size: 1.75rem;
      line-height: 2.5rem;
    }

    /*  ------------------ Bio ------------------*/

    #bio{
      padding: 7rem 3rem 10rem 3rem;
      display: flex;
    }

    /*  ------------------ Clue SOS ------------------*/
    #clue-intro, #nota-intro{
      margin-top: 0rem;
    }
    .regular-para{
      padding:0rem 6rem 4rem 6rem;
    }
    .side-by-side-2, .side-by-side-3{
      flex-wrap: nowrap;
    }

    .side-by-side-3 p, .side-by-side-2 p{
      margin-left: 6rem;
    }

    .side-by-side-3 p{
      width: 82%;
    }

    .side-by-side-2 p{
      width: 20rem;
    }

    #clue-intro h1 {
      margin-left: 6rem;
    }
    .line-heading{
      margin-left: 6rem;
      padding-right: 16rem;

    }

    .line-centre-focus{
      width: 100vw;
      text-align: center;
      margin: 2rem 0rem 7rem 0rem;
      padding-right: 0rem;
    }

    .process h2, .process h3{
      margin-left: 6rem;
    }

    .personas img {
      display: inline;
      width: 46%;
    }

    img[src*="clue-persona-3"]{
      width: 55%;
    }
  }

  @media (min-width:57.25em) {
    .menu-items {
      padding-left: 31%;
      width: -webkit-fit-content;

    }
    .container-menu{
      height: 3.2rem;
    }

    /*  ------------------ Intro ------------------*/
    #intro{
      padding-top: 35vh;
      background-position: 42% -3rem;
      background-repeat: no-repeat;
      background-size: 46rem;
    }
    #intro #intro-sub-cap{
      font-size: 1.75rem;
      line-height: 2.5rem;
    }

    /*  ------------------ Bio ------------------*/

    #bio{
      padding: 7rem 4rem 10rem 4rem;
      display: flex;
    }

    /*  ------------------ Clue SOS ------------------*/
    #clue-intro, #nota-intro{
      margin-top: 0rem;
    }
    .regular-para{
      padding:0rem 8rem 4rem 8rem;
    }
    .side-by-side-2, .side-by-side-3{
      flex-wrap: nowrap;
    }
    .side-by-side-3 p, .side-by-side-2 p{
      margin-left: 8rem;
    }
    .side-by-side-3 p{
      width: 82%;
    }

    .side-by-side-2 p{
      width: 27rem;
    }
    #clue-intro h1 {
      margin-left: 8rem;
    }
    .line-heading{
      margin-left: 8rem;
      padding-right: 25rem;

    }
    .process h2, .process h3{
      margin-left: 8rem;
    }

    .line-centre-focus{
      width: 100vw;
      text-align: center;
      margin: 2rem 0rem 5rem 0rem;
      padding-right: 0rem;

    }
    .personas img {
      display: inline;
      width: 43%;

    }
    img[src*="clue-persona-3"]{
      width: 55%;
    }
  }

  @media (min-width:79em) {
    .menu-items {
      padding-left: 38.5%;
      width: -webkit-fit-content;

    }
    .container-menu{
      height: 3.2rem;
    }

    /*  ------------------ Intro ------------------*/

    #intro{
      padding-top: 32vh;
      background-position: 42% 65%;
      background-repeat: no-repeat;
      background-size: 60rem;
    }
    #intro p {
      width: -webkit-fit-content;
    }

    #intro #intro-sub-cap{
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
    /*  ------------------ Bio ------------------*/

    #bio{
      display: flex;
      padding:10rem 10rem 10rem 10rem;

    }


    /*  ------------------ Clue SOS ------------------*/
    #clue-intro, #nota-intro{
      margin-top: 0rem;
    }
    #clue-intro .block-it,#nota-intro .block-it{
      padding: 11rem 7.99rem 0rem 1.99rem;
    }
    .regular-para{
      padding:0rem 12rem 4rem 12rem;
    }
    .side-by-side-2, .side-by-side-3{
      flex-wrap: nowrap;
    }
    .regular-para-with-imgs{
      padding: 0rem 12rem 4rem 12rem;
    }
    .side-by-side-2 img{
      margin-left:15%;
    }

    .side-by-side-3 p{
      width: 82%;
      margin-left: 12rem;
    }
    .side-by-side-2 p{
      width: 27rem;
      margin-left: 12rem;
    }
    #clue-intro h1 {
      margin-left: 12rem;
    }
    .line-heading{
      margin-left: 12rem;
      padding-right: 25rem;

    }

    .process h2, .process h3{
      margin-left: 12rem;
    }
    .line-centre-focus{
      width: 100vw;
      text-align: center;
      margin: 2rem 0rem 7rem 0rem;
      padding-right: 0rem;

    }
    .personas img {
      display: inline;
      width: 43%;

    }
    img[src*="clue-persona-3"]{
      width: 55%;
    }

    #bio img{
      width: 37%;
      padding-right: 5rem;
      padding-top: 1rem;
    }




  }
  @media (min-width:85.37em) {
    .menu-items {
      padding-left: 45%;
      width: -webkit-fit-content;
    }

    .container-menu{
      height: 3.2rem;
    }

    /*  ------------------ Intro ------------------*/

    #intro #intro-sub-cap{
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
    /*  ------------------ Bio ------------------*/

    #bio{
      display: flex;
      padding:10rem 10rem 10rem 10rem;
    }

    /*  ------------------ Clue SOS ------------------*/

    #clue-intro, #nota-intro{
      margin-top: 0rem;
    }
    #clue-intro .block-it,#nota-intro .block-it{
      padding: 11rem 7.99rem 0rem 1.99rem;
    }
    .regular-para{
      padding:0rem 12rem 4rem 12rem;
    }
    .side-by-side-2, .side-by-side-3{
      flex-wrap: nowrap;
    }
    .regular-para-with-imgs{
      padding: 0rem 12rem 4rem 12rem;
    }
    .side-by-side-3 p{
      width: 82%;
    }
    .side-by-side-2 p{
      width: 27rem;
    }

    .side-by-side-2 img{
      margin-left:15%;
    }

    #clue-intro h1 {
      margin-left: 12rem;
    }
    .line-heading{
      margin-left: 12rem;

    }

    .process h2, .process h3{
      margin-left: 12rem;
    }
    .line-centre-focus{
      width: 100vw;
      text-align: center;
      margin: 2rem 0rem 5rem 0rem;
      padding-right: 0rem;

    }

    .personas img {
      display: inline;
      width: 43%;

    }
    img[src*="clue-persona-3"]{
      width: 55%;
    }
  }
