html{
  scroll-behavior: smooth;

}
body{
  margin: 0rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: 20%;
}
/*  -------------------------------------------- Fonts and Typography ------------------------------------*/

p{
  font-family: 'Roboto', sans-serif;
  color: rgb(0,0,0,0.40);
  height: -webkit-fit-content;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 1.1rem;
  font-weight:300;
  letter-spacing: 0.07rem;
  line-height: 1.9rem;
}

h1{
  font-family: 'Merriweather', serif;
  font-weight:1500;
  color: #212121d6;
  font-size: 1.3srem;
}

.line-heading{
  font-family: 'Merriweather', serif;
  font-weight:400;
  color: #212121e3;
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
  line-height: 2rem;
  margin-top: 3rem;
  padding-right: 25rem;
}

h2{
  color: #212121e3;
  font-family: 'Merriweather', serif;
  font-weight:400;
  font-size: 1.2rem;
  height: -webkit-fit-content;
  margin: 0rem 0rem 1.25rem 0rem;
  text-align:left;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}
h3{
  color: #212121c9;
  font-family: 'Merriweather', serif;
  font-weight:300;
  font-size: 1.4rem;
  margin: 0rem 0rem 1.25rem 0rem;
  text-align:left;
  letter-spacing: 0.1rem;
}

.bold{
  display: inline;
  /* font-weight: bold; */
  color: red;
  margin-left: 0rem;
}

.fade{
  color:#21212142;
}

.qoute{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 0.85rem;
  font-weight:200;
  line-height: 1.45rem;
  padding: 2rem;
  margin: 0rem 50rem 0rem 6rem;
  color:black;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
}

.qoute-with-link{
  padding: 2rem 2rem 0rem 2rem;
}

nav a{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  font-weight:400;
  -webkit-transition: border-bottom  0.2s;
  padding: 1rem 2rem 1rem 2rem;
  color:#1b1b1b8f;
  white-space: nowrap;
}

figcaption{
  width: 100%;
  font-family: 'Merriweather', serif;
  color: black;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 0.85rem;
  font-weight:200;
  letter-spacing: 0.05rem;
  line-height: 1.7;
  margin-left: 1rem;
  text-decoration: none;
  margin-bottom: 0.25rem;
}

.sub-caption {
  font-family: 'Roboto', sans-serif;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 0.77rem;
  font-weight:300;
  color: #5d5d5d;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  margin-left: 1rem;
  text-decoration: none;
  color:black;
}

.black-font p{
  color: black;
  font-weight:300;
}

b{
  font-weight:1500;
  color: #212121d6;
}

a{
  text-decoration: none;
  display: inline;
}

p a{
  transition-property:color;
  transition-duration: 0.5s;
  color:#3da295;
}

p a:hover{
  transition-property:color;
  transition-duration: 0.5s;
  color: #ffa900;
}

.coming-soon figcaption{
  margin-top: 8rem;
  text-align: center;
}

.coming-soon-sub-cap {
  margin-left: 0rem;
  text-align: center;
  margin-bottom: 8rem;
}

.qoute a{
  display: block;
  text-align: right;
  font-size: 0.65rem;
  text-decoration: underline;
  padding: 0.6rem 0rem 1rem 0rem;
}


/*  -------------------------------------------- MENU BAR ------------------------------------*/

img[src*="logo"]{
  width: 45%;
  align-self: flex-start;
}

.container-menu {
  height: 10%;
  background-color: white;
  opacity: 0.95;
}

nav a:hover, nav a:active, nav a:focus{
  -webkit-transition: color 0.2s;
  color: #1b1b1b;
  font-weight:400;
  white-space: nowrap;
}

.project-end-links a {
  color:#3da295
}

.project-end-links a:hover {
  -webkit-transition: color 0.2s;
  color: #4c4c4c;
  white-space: nowrap;
}


/*  ----------------------------------------- HOME ------------------------------------*/
/*  ------------------------- Intro ------------------------*/


.block-it h2{
  font-size: 1.5rem;
}

.block-it p{

}
#intro{
  display:block;
  background-image: url("../img/flower2.svg");
  padding-bottom: 21rem;
}

#sis{
  display:flex;
  align-items: center;
  justify-content: center;
}
#emphasis p {
  margin: auto;
  color:#404040;
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;

}
#intro #intro-sub-cap{
  margin: 0rem 20% 0rem 20%;
  padding-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75rem;
  font-weight:200;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  text-decoration: none;
  color:black;
}

img[src*="arrow"]{
  position: absolute;
  bottom: 2rem;
  right: 49%;
  width: 5%;
  display: inline;
  text-align: center;
}
#bio p{
  margin-left: 0rem;
  font-size: 1rem;
}


/*  ----------------------- My Work ----------------------------*/
#my-work {
  background-color: white;
}

img[src*="clue-logo"]{
  width: 21rem;
  margin: 0.75rem;
}

img[src*="nota"]{
    width: 21rem;
    margin: 0.75rem;
}


#my-work figure{
  margin-top: 0rem;
  padding-bottom: 0.001rem;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);

}


.img-hover{
  position: relative;
}
.img-hover:hover .overlay-img-link {
  transition-property: opacity;
  opacity: 1;
  transition-duration: 0.3s;
}

.img-hover-text{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  top:13rem;
  width: 18rem;
  color: #545454;
  letter-spacing: 0.055rem;
  font-size: 1rem;
  padding: 0rem 1.75rem;
  top:40%;
}
.img-hover-text p{
  align-items: center;
}

.overlay-img-link{
  display: flex;
  position: absolute;
  bottom: 3.85rem;
  left: 0.45rem;
  background-color: rgba(255,255,255,0.80);
  overflow: hidden;
  width: 21.5rem;
  height: 18.65rem;
  opacity:0;
  transition: .3s ease-in-out;
}


/*  ----------------------------------------- About me------------------------------------*/

img[src*="me"]{
  width: 37%;
  height: 50%;
  padding-right: 5rem;
  padding-top: 1rem;
  line-height: 0.75rem;
}

#bio{
  background-color: white;
  display: inline-flex;
}

/*  ----------------------------------------- CLUE SOS------------------------------------*/

img[src*="clue-banner"]{
  position: relative;
  top:5.25rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
}

img[src*="your-cycle-1"], img[src*="your-cycle-2"], img[src*="clue-analysis"], img[src*="clue-calendar"], img[src*="clue-input-data"],img[src*="clue-color-categories"] {
  width:20%;
}

img[src*="location-prompt"],img[src*="global-S.O.S"],img[src*="receiving-SOS"]{
  width: 80%;
}

img[src*="send-SOS-single"],img[src*="send-SOS-multiple"]{
  width: 70%;
}


/*  ----------------------------------------- Nota ------------------------------------*/
#prototype{
  margin-top: -3rem;
}

#prototype a{
  font-weight: 100;
}

img[src*="nota-banner"]{
  position: relative;
  top: 5.25rem;
  width: 100%;
  margin:0rem 0rem 0rem 0rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
}


/* ----------------------- Footer ---------------------------- */

footer {
  width:100%;
  color:#ffffff;
  background-color: #212121;
  padding:17px;
  text-align: center;
  font-weight: lighter;
  display: block;
  justify-content: center;
  padding: 0%;
}

footer a{
  width: 4.5%;
  height: 4.5%;
  margin-top: 1rem;
}

.footer-padding{
  margin-right: 1rem;
}
#footer-links {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

#footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  padding-bottom: 1%;
}

#footer-links a {
  font-family: Roboto;
  color:white;
  height: -webkit-fit-content;
  /* margin: 0rem 0rem 1rem 0rem; */
  font-size: 1rem;
  font-weight:200;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  margin-left: 1rem;
  text-decoration: none;
  margin-bottom: 0.25rem;
}

#footer-links a[href*="contact"] {
  margin-right: 0%;
}

#footer-links p{
  margin-left: 3%;
  margin-right: 3%;
  font-size: 1rem;
  color: #ababab;
}
#copyright{
  font-family: Roboto;
  font-size: 0.77rem;
  font-weight:200;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 0rem 0rem 1rem 0rem;
  margin:0rem;
  color:#ffffff7a;
}

img[src*="facebook"]{
  margin-right: 0rem;
}


/* ------------------------------------------ Quries ------------------------------------------------------------------ */




@media (min-width: 15em) {
  /*  ------------------ Menu Bar ------------------*/

  nav a{
    width: 100%;
    text-align: center;
  }

  #logo{
    width: 25%;
    margin: auto;
  }

  .container-menu{
    height: -webkit-fit-content;
  }


  /*  ------------------ Intro ------------------*/
  #intro {
    background-position: 24% 50%;

  }


  /*  ------------------ Clue SOS ------------------*/
  .team-names p{
    margin-bottom: 0.25rem;
  }

  .qoute{
    margin: 1rem;
    margin-bottom: 2rem;
  }
  .block-it p{
    margin: 0rem 0.55rem 0rem 0.55rem;
  }
  footer a{
    width: 11.5%;
  }

  #copyright {
    font-size: 0.25rem;
  }
  .img-hover-text{

    font-size:0.6rem;
  }
}

@media (min-width: 23.5em) {
  /*  ------------------ Intro ------------------*/
  #intro {
    background-position: 22% 50%;
  }
  /*  ------------------ Fixer ------------------*/
  .block-it p{
    margin: 0rem 0rem 1rem 0rem;
  }

  nav a{
    width: 100%;
    text-align: center;
  }

  #logo{
    width: 25%;
    margin: auto;
  }

  .container-menu{
    height: -webkit-fit-content;
  }


  /*  ------------------ Clue SOS ------------------*/
  .team-names p{
    margin-bottom: 0.25rem;
  }

  .qoute{
    margin: 4rem;
    margin-top: 6rem;
  }
  footer a{
    width: 8.5%;
  }
  #copyright {
    font-size: 0.55rem;
  }
  .img-hover-text{

    font-size:1rem;
  }
}

@media (min-width:25.6em) {
  #intro {
    background-position: 7% 50%;
  }
  .team-names p{
    margin-bottom: 0.25rem;
  }

  .img-hover-text{

    font-size:1rem;
  }
}

@media (min-width:45em) {
  /*  ------------------ Intro ------------------*/
  #intro {
    background-position: 20% 50%;
  }

  /*  ------------------ Fixer ------------------*/
  .block-it p{
    margin: 0rem 0rem 1rem 0rem;
  }

  /*  ------------------ Menu Bar ------------------*/
  nav a{
    width: 17%;
    text-align: center;
  }

  #logo{
    width: 9rem;
    text-align: left;
  }

  /*  ------------------ Clue SOS ------------------*/
  .team-names p{
    margin-bottom: 0.25rem;
  }

  .qoute{
    margin: 3rem;
    margin-top: 2rem;

  }

  footer a{
    width: 5.5%;
  }

  #copyright {
    font-size: 0.77rem;
  }
  .img-hover-text{

    font-size: 0.7rem;
  }


}

@media (min-width:50.25em) {
  /*  ------------------ Fixer ------------------*/
  #intro {
    background-position: 24% 50%;
  }

  /*  ------------------ Fixer ------------------*/
  .block-it p{
    margin: 0rem 0rem 1rem 0rem;
  }

  /*  ------------------ Menu Bar ------------------*/
  nav a{
    width: 17%;
    text-align: center;
  }

  #logo{
    width: 9rem;
    text-align: left;
  }

  /*  ------------------ Clue SOS ------------------*/
  .team-names p{
    margin-bottom: 0.25rem;
  }

  .qoute{
    margin-right: 28rem;
    margin-left: 3rem;

  }

  #copyright {
    font-size: 0.77rem;
  }

  #my-work .line-heading{
    padding-right: 0rem;
    margin-left: 0rem;


  }
  .img-hover-text{

    font-size: 0.7rem;
  }
}

@media (min-width:57.25em) {
  /*  ------------------ Fixer ------------------*/
  .block-it p{
    margin: 0rem 0rem 1rem 0rem;
  }

  /*  ------------------ Clue SOS ------------------*/
  .team-names p{
    margin-bottom: 0.25rem;
  }

  .qoute{
    margin-right: 36rem;
    margin-left: 4rem;
  }
  #copyright {
    font-size: 0.77rem;
  }

  #my-work .line-heading{
    padding-right: 0rem;
    margin-left: 0rem;

  }
  .img-hover-text{

    font-size: 1rem;
  }
}

@media (min-width:79.00em) {
  /*  ------------------ Fixer ------------------*/
  .block-it p{
    margin: 0rem 0rem 1rem 0rem;
  }
  #team-names .block-it {
    margin-bottom: 0.25rem;
  }

  /*  ------------------ Menu Bar ------------------*/
  nav a{
    width: 17%;
    text-align: center;
  }

  #logo{
    width: 9rem;
    text-align: left;
  }


  /*  ------------------ Project Pages ------------------*/

  .qoute{
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 51rem;
  }
  .team-names p{
    margin-bottom: 0.25rem;
  }

  footer a{
    width: 4.5%;
  }
  #copyright {
    font-size: 0.77rem;
  }

  #my-work .line-heading{
    padding-right: 0rem;
    margin-left: 0rem;

  }
  .img-hover-text{

    font-size: 1rem;
  }


}

@media (min-width:85.37em) {
  /*  ------------------ Fixer ------------------*/
  .block-it p{
    margin: 0rem 0rem 1rem 0rem;
  }
  /*  ------------------ Menu Bar ------------------*/
  nav a{
    width: 17%;
    text-align: center;
  }

  #logo{
    width: 9rem;
    text-align: left;
  }

  .qoute{
    margin-right: 67%;
  }

  p{
    font-family: 'Roboto', sans-serif;
    color:#000000;
    height: -webkit-fit-content;
    margin: 0rem 0rem 1rem 0rem;
    font-size: 1.25rem;
    font-weight:200;
    letter-spacing: 0.09rem;
    line-height: 2.25rem;
  }

  .team-names p{
    margin-bottom: 0.25rem;
  }
  #clue{
    width: 50%;
  }
  .line-heading{
    font-family: 'Merriweather', serif;
    font-weight:400;
    color: #212121e3;
    font-size: 1.35rem;
    letter-spacing: 0.08rem;
    line-height: 2rem;
    margin-top: 3rem;
    padding-right: 25rem;
  }

  footer a{
    width: 5.5%;
  }
  #copyright {
    font-size: 0.77rem;
  }

  #my-work .line-heading{
    padding-right: 0rem;
    margin-left: 0rem;
  }







}
