// @import "queries";

/* --------------------------------- Color Gallery ------------------------ */
:root {
  --dark-green:#264653;
  --green:#2A9D8F;
  --golden:#ffa900;
  --golden2:#fdcd53;
  --almostWhite: rgba(246,246,246,0.44);
  --wine:#863c4d;
  --red:#ec4252;
  --yellow:#ffd15c;
}


html{
  scroll-behavior: smooth;
}
.main-nav a{
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  opacity: 0.5;
  letter-spacing: 0.04rem;
  font-weight: 400;
  line-height: 1.75rem;
  white-space: nowrap;
}

#logo-container a{
  opacity: 1;
}

#logo-container a:hover{
  opacity: 1;
  transition: all 0.4s;
  transform: scale(1.2);
}
figure figcaption.image-caption{
  font-family: "Source-Sans-Pro", sans-serif;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.secondary-margin{
  margin: 2rem 2rem;
}

.tertiary-margin{
  margin: 4rem 3rem;
}
/* --------------------------------- Text Gallery ------------------------ */

/* ---------- Basic ----------*/
p, .link-regular{
  font-family: 'Source-Sans-Pro', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  font-weight: 300;
  line-height: 1.75rem;
  opacity: 0.7;
}
h1{
  font-family: 'Cabin', sans-serif;
  color: var(--dark-green);
}

h2{
  font-family: 'Cabin', sans-serif;
  color: var(--dark-green);
  opacity: 0.9;
}

h3{
  color:var(--dark-green);
  opacity: 0.9;
  font-family: 'Cabin', sans-serif;
}

h4{
  letter-spacing: 0.04rem;
  font-family: 'Source-Sans-Pro', sans-serif;
  color:var(--dark-green);
  opacity: 0.75;
}

h5{
  font-family: 'Source-Sans-Pro', sans-serif;
  color:black;
}

figcaption{
  font-family: 'Source-Sans-Pro', sans-serif;
  color: #5a5a5a;
}

.sub-caption{
  letter-spacing: 0.02rem;
}
.project-list a{
  text-decoration: none;
}
/* ----------Modified---------- */
.bold{
  font-family: 'Source-Sans-Pro', sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.45rem;
  opacity: 0.6;
}

.italic{
  font-family: 'Source-Sans-Pro', sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.45rem;
  opacity: 0.6;
}
h2::before {
  content: '';
  display: block;
  position: absolute;
  top: 122%;
  left: 0;
  height: 4px;
  width: 2rem;
  background-color: #F9D270;
  transform: scale(1, 1);
}
.h2-no-decor::before{
  background-color: rgba(0,0,0,0);
}

/* Links */
.link-regular{
  opacity: 1;
  transition-property: color;
  transition-duration: 0.4s;
  text-decoration: none;
}

.link-regular:hover, .link-regular:focus, .link-regular:active{
  transition-property: color;
  transition-duration: 0.4s;
  color:var(--golden);
  opacity: 1;
}

.link-footer{
  font-family: 'Source-Sans-Pro', sans-serif;
  transition-property: color;
  transition-duration: 0.4s;
  text-decoration: none;
  letter-spacing: 0.06rem;
  opacity: 0.6;
}
.link-footer:hover, .link-footer:focus, .link-footer:active {
  transition-property: color;
  transition-duration: 0.4s;
  color:var(--green);
  text-decoration: underline;
  opacity: 1;
}

.link-footer:hover #footer-contact-info img{
  opacity: 1;
  display: none;
}

.overlay-img-link p{
  font-family: 'Source-Sans-Pro', sans-serif;
}

.img-hover:hover .overlay-img-link, .img-hover:focus .overlay-img-link,.img-hover:active .overlay-img-link {
  transition-property: opacity;
  opacity: 1;
  transition-duration: 0.3s;
}
#nav-intro{
  background-image: url("../img/home/flower.svg");

}
#home-intro p{
  font-family: 'Cabin', sans-serif;
    line-height: 2.5rem;
}


button.collapsible {
  font-family: 'Source-Sans-Pro', sans-serif;
}

/* --------------------------------- Style Guide Only ------------------------ */
.page-margin-sg{
  max-width: 70%;
  margin: auto;
}

img.styleguide-image{
  width: 100%;
}

#color, #type, #combined-text, #links-and-buttons, #projects-sg, #audience, #footer, #project-pages, #citations{
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  padding: 2rem;
  margin-top: 1.5rem;
}

#links-and-buttons{
  padding-bottom: 5rem;
}

#margin-top-image-gallery{
  margin-top: 9rem;
}

#margin-top-image-gallery img{
  width: 70%;
  margin: auto;

}

#arrow-button-sg{
  background-color: white;
}

#sg-link{
  font-size: 0.75rem;
  display: table-cell;
}

#nav-sg-dummy{
  padding: 0rem;
}

#portfolio-link{
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-green);
  // margin:3rem 0rem;
  text-align: center;
  display: block;
  transition: all 0.4s;
}

#portfolio-link:hover{
  color: var(--golden);
  transition: all 0.4s;
}
.sg{
  margin-bottom: 6rem;
}

p.cabin{
  font-family: 'cabin', sans-serif;
}

h3.ibm{
  font-family: 'IBM Plex Sans', sans-serif;
}

p.cabin{
  font-family: 'cabin', sans-serif;
}

h3.ssp{
  font-family: 'ssp', sans-serif;
  color: black;
  opacity: 0.7;
}

#footer-sg{
  /* width: 80%; */
  padding: 1rem;
}

#color-pallete{
  display: flex;
  justify-content: center;
}
.yellow{
  display: block;
  background-color: var(--yellow);
  padding-bottom: 20%;
  width: 15%;
}

.dark-green{
  display: block;
  background-color: var(--dark-green);
  padding-bottom: 20%;
  width: 15%;
}

.green{
  display: block;
  background-color: var(--green);
  padding-bottom: 20%;
  width: 15%;
}
.wine{
  display: block;
  background-color: var(--wine);
  padding-bottom: 20%;
  width: 15%;
}

.almostWhite{
  display: block;
  background-color: var(--almostWhite);
  padding-bottom: 20%;
  width: 15%;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  color:#f1f1f1;
  border-width: 1px;
}
.golden{
  display: block;
  background-color: var(--golden);
  padding-bottom: 20%;
  width: 15%;
}

#sg-img-gallery-button{
  position: absolute;
  border-style: none;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  padding: 0.75rem;
  top:50%;
  background-color: var(--yellow);
  color: white;
  font-size: 1.5rem;
  transition: all .2s ease-in-out;
  opacity: 0.6;
  margin-bottom: 4rem;
}
#sg-img-gallery-button:hover,#sg-img-gallery-button:active,#sg-img-gallery-button:hover,#sg-img-gallery-button:active{
  transition: all .2s ease-in-out;
  transform: scale(1.15);
  opacity: 1;
}
