{
  "name": "Portfolio Website",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "css/main.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "css/delayedMain.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/delayedMain.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "css/queries.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "css/main-dist.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"css/main.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "sass/delayedMain.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": false,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/delayedMain.scss",
      "imports": [
        "sass/queries.scss"
      ]
    },
    {
      "path": "sass/queries.scss",
      "imports": [
        "sass/delayedMain.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "pub_html/IAT339",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": true,
      "keepAlive": true,
      "host": "ftp.sfu.ca",
      "port": 21,
      "user": "aasif",
      "password": "SimonFU2k17!"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "cineworks.html",
        "ctime": "2018-11-30T20:12:34.768Z",
        "mtime": "2018-11-30T20:12:34.768Z",
        "size": 31028
      },
      {
        "file": "clue.html",
        "ctime": "2018-11-30T20:12:36.029Z",
        "mtime": "2018-11-30T20:12:36.029Z",
        "size": 27130
      },
      {
        "file": "css/delayedMain.css",
        "ctime": "2018-11-30T18:48:54.056Z",
        "mtime": "2018-11-30T18:48:54.056Z",
        "size": 6025
      },
      {
        "file": "css/main.css",
        "ctime": "2018-11-30T19:07:40.012Z",
        "mtime": "2018-11-30T19:07:40.012Z",
        "size": 14376
      },
      {
        "file": "css/queries.css",
        "ctime": "2018-11-30T20:17:05.453Z",
        "mtime": "2018-11-30T20:17:05.453Z",
        "size": 5494
      },
      {
        "file": "img/facebook.svg",
        "ctime": "2018-10-31T23:58:47.510Z",
        "mtime": "2018-10-31T23:58:47.510Z",
        "size": 585
      },
      {
        "file": "img/gmail.svg",
        "ctime": "2018-10-31T23:58:19.847Z",
        "mtime": "2018-10-31T23:58:19.847Z",
        "size": 1267
      },
      {
        "file": "img/instagram.svg",
        "ctime": "2018-10-31T23:57:26.988Z",
        "mtime": "2018-10-31T23:57:26.987Z",
        "size": 1408
      },
      {
        "file": "img/linkedin.svg",
        "ctime": "2018-10-31T23:57:49.132Z",
        "mtime": "2018-10-31T23:57:49.131Z",
        "size": 775
      },
      {
        "file": "img/logo.png",
        "ctime": "2018-11-24T22:48:32.073Z",
        "mtime": "2018-11-24T22:48:05.296Z",
        "size": 5051
      },
      {
        "file": "img/cineworks/Artboard 2.pdf",
        "ctime": "2018-11-01T06:21:12.020Z",
        "mtime": "2018-11-01T06:21:04.757Z",
        "size": 1008297
      },
      {
        "file": "img/cineworks/Artboard 4.pdf",
        "ctime": "2018-11-01T06:21:12.023Z",
        "mtime": "2018-11-01T06:21:05.420Z",
        "size": 721319
      },
      {
        "file": "img/cineworks/camera.png",
        "ctime": "2018-11-19T08:41:46.664Z",
        "mtime": "2018-11-19T08:41:42.744Z",
        "size": 393477
      },
      {
        "file": "img/cineworks/cineworks-on-map.png",
        "ctime": "2018-11-19T18:54:02.862Z",
        "mtime": "2018-11-19T18:54:02.784Z",
        "size": 471273
      },
      {
        "file": "img/cineworks/community-horizontal.png",
        "ctime": "2018-11-27T04:37:20.534Z",
        "mtime": "2018-11-27T04:32:49.815Z",
        "size": 5267
      },
      {
        "file": "img/cineworks/community-vertical.png",
        "ctime": "2018-11-27T05:27:57.449Z",
        "mtime": "2018-11-27T04:37:03.752Z",
        "size": 5170
      },
      {
        "file": "img/cineworks/hallway.jpg",
        "ctime": "2018-11-19T18:52:03.997Z",
        "mtime": "2018-11-19T18:52:03.986Z",
        "size": 13277
      },
      {
        "file": "img/cineworks/jason-raza-mini.png",
        "ctime": "2018-11-01T06:49:15.644Z",
        "mtime": "2018-11-01T06:46:58.849Z",
        "size": 268260
      },
      {
        "file": "img/cineworks/jason-raza.pdf",
        "ctime": "2018-11-01T06:49:20.481Z",
        "mtime": "2018-11-01T06:21:04.106Z",
        "size": 946248
      },
      {
        "file": "img/cineworks/jason.JPG",
        "ctime": "2018-11-19T18:16:39.657Z",
        "mtime": "2018-11-19T18:16:31.601Z",
        "size": 1419771
      },
      {
        "file": "img/cineworks/josh.JPG",
        "ctime": "2018-11-26T07:26:13.002Z",
        "mtime": "2018-11-26T07:26:12.881Z",
        "size": 1979596
      },
      {
        "file": "img/cineworks/nick.JPG",
        "ctime": "2018-11-19T18:01:18.544Z",
        "mtime": "2018-11-19T18:00:56.938Z",
        "size": 1918676
      },
      {
        "file": "img/cineworks/screening.jpg",
        "ctime": "2018-11-25T07:27:01.904Z",
        "mtime": "2018-11-25T07:27:01.863Z",
        "size": 208853
      },
      {
        "file": "img/clue/clue-banner.svg",
        "ctime": "2018-11-02T20:54:34.991Z",
        "mtime": "2018-08-27T20:22:12.000Z",
        "size": 4578
      },
      {
        "file": "img/clue/clue-persona-1.png",
        "ctime": "2018-10-29T06:57:29.843Z",
        "mtime": "2018-08-27T20:22:12.000Z",
        "size": 434014
      },
      {
        "file": "img/clue/clue-persona-2.png",
        "ctime": "2018-10-29T06:57:29.846Z",
        "mtime": "2018-08-28T21:32:29.525Z",
        "size": 379781
      },
      {
        "file": "img/clue/clue-persona-3.png",
        "ctime": "2018-10-29T06:57:29.847Z",
        "mtime": "2018-08-28T21:36:52.221Z",
        "size": 312959
      },
      {
        "file": "img/clue/global-S.O.S.png",
        "ctime": "2018-11-27T03:57:17.466Z",
        "mtime": "2018-11-27T03:56:41.134Z",
        "size": 50229
      },
      {
        "file": "img/clue/location-prompt.png",
        "ctime": "2018-11-15T06:10:12.188Z",
        "mtime": "2018-09-05T02:44:57.031Z",
        "size": 253253
      },
      {
        "file": "img/clue/receiving-SOS.png",
        "ctime": "2018-11-15T06:10:12.187Z",
        "mtime": "2018-09-03T20:33:14.274Z",
        "size": 546267
      },
      {
        "file": "img/clue/send-SOS-multiple.png",
        "ctime": "2018-11-27T04:02:02.736Z",
        "mtime": "2018-11-27T04:01:42.542Z",
        "size": 98289
      },
      {
        "file": "img/clue/send-SOS-single.png",
        "ctime": "2018-11-15T06:10:12.185Z",
        "mtime": "2018-09-03T21:22:51.264Z",
        "size": 480952
      },
      {
        "file": "img/clue/whiteboard.jpg",
        "ctime": "2018-11-19T00:14:15.950Z",
        "mtime": "2018-11-19T00:14:15.881Z",
        "size": 140938
      },
      {
        "file": "img/home/arrow.svg",
        "ctime": "2018-11-26T06:05:54.891Z",
        "mtime": "2018-11-26T06:05:54.890Z",
        "size": 1099
      },
      {
        "file": "img/home/clue-rings.svg",
        "ctime": "2018-11-12T17:39:39.337Z",
        "mtime": "2018-11-12T17:39:39.336Z",
        "size": 4290
      },
      {
        "file": "img/home/flower.svg",
        "ctime": "2018-11-26T05:29:24.614Z",
        "mtime": "2018-11-26T05:29:24.613Z",
        "size": 29894
      },
      {
        "file": "img/home/me.jpg",
        "ctime": "2018-11-26T05:45:43.643Z",
        "mtime": "2018-11-24T19:45:00.811Z",
        "size": 128175
      },
      {
        "file": "img/home/me.png",
        "ctime": "2018-11-02T21:09:41.169Z",
        "mtime": "2018-08-27T20:22:12.000Z",
        "size": 134671
      },
      {
        "file": "img/home/my-logo.svg",
        "ctime": "2018-11-24T22:48:51.401Z",
        "mtime": "2018-11-24T22:48:51.399Z",
        "size": 1645
      },
      {
        "file": "img/home/nota-bird.png",
        "ctime": "2018-11-11T03:18:38.798Z",
        "mtime": "2018-08-31T10:06:23.781Z",
        "size": 308069
      },
      {
        "file": "img/home/transcend.svg",
        "ctime": "2018-11-24T23:47:46.883Z",
        "mtime": "2018-11-24T23:47:46.882Z",
        "size": 2186
      },
      {
        "file": "index.html",
        "ctime": "2018-11-30T20:12:34.127Z",
        "mtime": "2018-11-30T20:12:34.127Z",
        "size": 21770
      },
      {
        "file": "journal.html",
        "ctime": "2018-11-30T20:12:35.420Z",
        "mtime": "2018-11-30T20:12:35.420Z",
        "size": 20304
      },
      {
        "file": "js/js.js",
        "ctime": "2018-11-30T19:44:18.011Z",
        "mtime": "2018-11-30T19:44:18.011Z",
        "size": 8113
      },
      {
        "file": "js/lazyload.min.js",
        "ctime": "2018-11-30T18:01:12.696Z",
        "mtime": "2018-10-06T07:10:36.000Z",
        "size": 5501
      },
      {
        "file": "README.md",
        "ctime": "2018-11-01T01:02:03.954Z",
        "mtime": "2018-11-01T01:02:03.954Z",
        "size": 18
      },
      {
        "file": "resume.pdf",
        "ctime": "2018-11-04T06:11:01.349Z",
        "mtime": "2018-09-07T00:45:19.152Z",
        "size": 52377
      },
      {
        "file": "styleguide.html",
        "ctime": "2018-11-30T20:11:41.961Z",
        "mtime": "2018-11-30T20:11:41.961Z",
        "size": 28238
      },
      {
        "file": "vid/clue-demo.mp4",
        "ctime": "2018-10-29T07:01:44.525Z",
        "mtime": "2018-09-16T19:34:43.878Z",
        "size": 1733898
      },
      {
        "file": "img/clue/video-blur.png",
        "ctime": "2018-11-30T19:02:07.276Z",
        "mtime": "2018-11-30T19:01:48.530Z",
        "size": 67969
      },
      {
        "file": "css/base.css",
        "ctime": "2018-11-30T19:14:54.363Z",
        "mtime": "2018-11-30T19:14:54.363Z",
        "size": 11519
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\"},\"outputSuffix\":null}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}